.appContent {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-right: 90px;
  color: black;
  background-color: white !important;
}

.home {
  margin-right: 100px;
}
hr {
  clear:both;
  display:block;
  width: 100%;               
  background-color: white;
  height: 5px;
  border: 2px;
}
.mr-auto {
  display: flex;
  flex-direction: row;
  margin-right: 90px;
}

.h1 {
  font-weight: bold;
}
.App-header {
  padding-top: 70px;
  background-color:goldenrod;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
